In [1]:
import sqlite3

# Create a database (or connect if it already exists)
conn = sqlite3.connect("paxiter.db")

# Create a cursor object to interact with the database
cursor = conn.cursor()

# Check if the connection is successful
print("Database created and connected successfully!")

Database created and connected successfully!

In [3]:
import os

# Check if the database file exists
print("Database file exists:", os.path.exists("my_database.db"))

Database file exists: False

In [4]:
#To check if there are any tables in my_database.db
cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")
print("Existing tables:", cursor.fetchall())

Existing tables: [('company_employees',)]

In [5]:
# Create table
cursor.execute("""
    CREATE TABLE IF NOT EXISTS company_employees (
        id INTEGER PRIMARY KEY,
        name TEXT,
        age INTEGER,
        department TEXT,
        salary REAL
    )
""")
conn.commit()  # Save changes
print("Table created successfully!")

Table created successfully!

In [6]:
#Insert Sample Data to the Table

cursor.execute("INSERT INTO company_employees (name, age, department, salary) VALUES ('Alice', 30, 'HR', 50000)")
cursor.execute("INSERT INTO company_employees (name, age, department, salary) VALUES ('Bob', 25, 'IT', 60000)")
cursor.execute("INSERT INTO company_employees (name, age, department, salary) VALUES ('Charlie', 35, 'Finance', 70000)")
conn.commit()

In [8]:
#To Query the Data
cursor.execute("SELECT * FROM company_employees")
rows = cursor.fetchall()

# Display results
for row in rows:
    print(row)

(1, 'Alice', 30, 'HR', 50000.0)
(2, 'Bob', 25, 'IT', 60000.0)
(3, 'Charlie', 35, 'Finance', 70000.0)
(4, 'Alice', 30, 'HR', 50000.0)
(5, 'Bob', 25, 'IT', 60000.0)
(6, 'Charlie', 35, 'Finance', 70000.0)

In [9]:
# To perform common/basic SQL Queries Data Analysis using the same database created

In [10]:
#1 To count the number of employees
cursor.execute("SELECT COUNT(*) FROM company_employees")
print(cursor.fetchone())

(6,)

In [11]:
#2 To find the average salary
cursor.execute("SELECT AVG(salary) FROM company_employees")
print(cursor.fetchone())

(60000.0,)

In [12]:
#3 Lising the employees in the IT department
cursor.execute("SELECT * FROM company_employees WHERE department = 'IT'")
print(cursor.fetchall())

[(2, 'Bob', 25, 'IT', 60000.0), (5, 'Bob', 25, 'IT', 60000.0)]

In [13]:
#4 Get employees earning more than $50,000:
cursor.execute("SELECT * FROM company_employees WHERE salary > 50000")
print(cursor.fetchall())

[(2, 'Bob', 25, 'IT', 60000.0), (3, 'Charlie', 35, 'Finance', 70000.0), (5, 'Bob', 25, 'IT', 60000.0), (6, 'Charlie', 35, 'Finance', 70000.0)]